.head {
  border-bottom: 2px solid #e96b56;
  border-radius: 80%;


}


h1 span {
  color: #e96b56;
  font-size: 90px;
  font-weight: 100;
}



.box {
  transition: .5s all ease-in-out;
  margin-top: 4rem;
}



.box:hover {
  transform: translateY(-20%);
}

.box:hover .icons {
  opacity: 1;

}


.icons {
  width: 100%;

  padding: .5rem;
  display: flex;
  justify-content: space-around;
  opacity: 0;
  transition: 1s all ease-in-out;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
}

.fa-solid {
  color: white;
  padding: .5rem;
  border: 1px solid white;
  border-radius: 50%;
  transition: .3s all ease-in-out;
}


.fa-solid:hover {
  color: #e96b56 !important;
  background-color: white !important;
  opacity: 1;


}


.card-body {
  font-family: 'Overpass', sans-serif;
  font-size: 16px;
}
