<section class="py-4">

  <div class=" overlay w-50 container d-flex my-4 justify-content-center ">
    <div class="">
      <div class="row my-5">
        <div class="col-md-5 text-center">
          <h4 class="w-75 mx-auto py-2">Payment Method <i style="color: rgba(75, 95, 147, 0.971);"
              class="fa-solid fa-money-bill-wave"></i>
          </h4>


          <!-- <label for="fname">Accepted Cards</label>
          <div class="icon-container">
            <i class="fa fa-cc-visa" style="color:navy;"></i>
            <i class="fa fa-cc-amex" style="color:blue;"></i>
            <i class="fa fa-cc-mastercard" style="color:red;"></i>
            <i class="fa fa-cc-discover" style="color:orange;"></i>
          </div> -->
          <div class="container">
            <form action="" class="form">
              <fieldset disabled>

                <label class="form-label py-3" for="cname">User Name</label>
                <input class="form-control" type="text" id="cname" name="cardname" [placeholder]="theUser?.userName">
                <label class="form-label py-3" for="ccnum">Credit card number</label>
                <input class="form-control" type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444">
                <label class="form-label py-3" for="expmonth">Exp Month</label>
                <input class="form-control" type="text" id="expmonth" name="expmonth" placeholder="September">
              </fieldset>
            </form>
            <h4 class="py-4">You Can Use</h4>
            <div class="icons mt-5 d-flex justify-content-evenly">
              <i class="fa-brands fa-cc-visa fa-3x"></i>
              <i class="fa-brands fa-cc-amazon-pay fa-3x"></i>
              <i class="fa-brands fa-cc-discover fa-3x"></i>
              <i class="fa-brands fa-cc-paypal fa-3x"></i>
            </div>
          </div>



        </div>
        <div class="col-md-6  ">
          <table class="table table-dark table-striped text-center  my-5">
            <thead>
              <tr>
                <th>Image </th>

                <th>ProductName </th>
                <th>Quantity </th>
                <th>Total </th>
              </tr>
            </thead>
            <tr class="table-light" *ngFor="let item of items">
              <td><img class="img-fluid h-50 w-50" [src]="item.product.productImages[0].url" alt=""></td>

              <td>{{ item.product.name }}</td>
              <td>{{ item.quantity }}</td>
              <td>{{ item.total | currency }}</td>
            </tr>
            <hr style="color: black;">
            <tr class="table-light">
              <td>Total amonut </td>
              <td></td>
              <td></td>

              <td>{{ cartSession?.amount! | currency}}</td>
            </tr>
            <hr style="color: black;">

            <tr class="table-light">
              <td>total Discount</td>
              <td></td>
              <td></td>

              <td>{{ cartSession?.totalDiscount | currency}}</td>
            </tr>
            <hr style="color: black;">

            <tr class="table-light">
              <td>total </td>
              <td></td>
              <td></td>

              <td>{{ cartSession?.total | currency}}</td>
            </tr>
          </table>
          <a class="btn btn-dark d-flex justify-content-center my-5" (click)="endSession()"> Buy</a>
        </div>
      </div>
    </div>


  </div>


</section>
