<!-- <footer id="footer">
  <div class="footer-newsletter">

  </div>
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Home</h4>
          <ul>

            <li>
              <i class="fa-solid fa-arrow-right-to-bracket"></i> <a routerLink="/login">Log IN</a>
            </li>
            <li>
              <i class="fa fa-info"></i><a routerLink="/register">Register</a>
            </li>

          </ul>
        </div>
        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Our Product</h4>
          <ul>
            <li>
              <i class="fa-solid fa-person"></i><a routerLink="/categories/3">Men</a>
            </li>
            <li>
              <i class="fa-solid fa-person-dress"></i>
              <a routerLink="/categories/4">women</a>
            </li>
            <li>
              <i class="fa-solid fa-laptop"></i>
              <a routerLink="/categories/1">Laptob</a>
            </li>
            <li>
              <i class="fa-solid fa-mobile-retro"></i><a routerLink="/categories/2">Smartphone</a>
            </li>
            <li>
              <i class="fa-solid fa-child"></i><a routerLink="/categories/5">Kids</a>
            </li>
            <li>
              <i class="fa-solid fa-shoe-prints"></i><a routerLink="/categories/6">shoes</a>
            </li>

          </ul>
        </div>
        <div class="col-lg-3 col-md-6 footer-contact">
          <h4>Contact Us</h4>
          <p>
            ITI Mansoura <br />
            Mansoura, NY 535022<br />
            Egypt <br /><br />
            <span class="p-1"><i class="fa-solid fa-phone"></i></span><strong>Phone:</strong> 01025899331<br />
            <span class="p-1"><i class="fa-solid fa-at"></i></span><strong>Email:</strong>
            aminahmed56344@gmail.com<br />
          </p>
        </div>
        <div class="col-lg-3 col-md-6 footer-info">
          <h3>About ZokaStore</h3>
          <p>
            Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada
            terra videa magna derita valies darta donna mare fermentum iaculis
            eu non diam phasellus.
          </p>

        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 ">

          <div class="    input-group mb-1 mt-4">

            <input type="text" class="form-control" placeholder="Massage Us" aria-label="Massage Us"
              aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i
                class="fa-solid fa-paper-plane"></i></button>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="social-links mt-3  d-flex justify-content-around">
            <a href="#" class="twitter "><i class="fa-brands fa-twitter fa-2x"></i></a>
            <a href="#" class="facebook  "><i class="fa-brands fa-facebook fa-2x"></i></a>
            <a href="#" class="instagram  "><i class="fa-brands fa-instagram fa-2x"></i></a>
            <a href="#" class="youtube    "><i class="fa-brands fa-youtube fa-2x"></i></a>
          </div>
        </div>
      </div>

      <p class="text-center m-auto mt-3 ">© Copyright ZokaStore 2022, ITI Mansoura . All Rights
        Reserved</p>
    </div>

  </div>
</footer> -->
