<nav class="navbar navbar-expand-lg navbar-light bg-light p-4">
  <a class="navbar-brand col" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
    <img class="img-fluid " src="../../assets/logo.gif">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse d-flex justify-content-between  " id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <li class="nav-item ">
        <a *ngIf="isLogin" routerLink="/home" routerLinkActive="active1" class="nav-link mx-3 p-2">Home</a>
      </li>
      <li class="nav-item ">
        <a *ngIf="isLogin" routerLink="/products" routerLinkActive="active1" class="nav-link mx-3 p-2">Products</a>
      </li>
      <li class="nav-item ">
        <a *ngIf="isLogin" routerLink="/about" routerLinkActive="active1" class="nav-link mx-3 p-2">About Us</a>
      </li>
      <li class="nav-item ">
        <a *ngIf="isLogin" routerLink="/contact" routerLinkActive="active1" class="nav-link mx-3 p-2">Contact Us</a>
      </li>
    </div>
    <div class="navbar-nav">
      <li class="nav-item ">
        <a *ngIf="isLogin" routerLinkActive="active1" routerLink="/cart/{{loginUser.id}}" class="nav-link">
          <i class="fa-solid fa-cart-shopping fa-xl"></i>
        </a>
      </li>
      <li class="nav-item">
        <a *ngIf="!isLogin" routerLinkActive="active1" routerLink="/register" class="nav-link">Register</a>
      </li>
      <li class="nav-item ">
        <a *ngIf="!isLogin" routerLinkActive="active1" routerLink="/login" class="nav-link">Login</a>
      </li>

      <li class="nav-item mx-5  ">
        <a *ngIf="isLogin" routerLinkActive="active1" (click)="logOut()" routerLink="/login" class="nav-link">logout</a>
      </li>
      <li class="nav-item mx-5  ">
        <a *ngIf="isLogin" routerLinkActive="active1"  routerLink="/myorders/{{loginUser.id}}" class="nav-link">My Orders</a>
      </li>
    </div>
  </div>
</nav>
