<div class="container my-5 ">

  <h1 class="text-center head w-25 m-auto my-5 pb-3">Our Team</h1>

  <div class="row">

    <div class="col-md-4 p-2">
      <div class="card">
        <img src=" ../../assets/Zaghlol.jpg" class="card-img-top  " alt="...">
        <div class="card-body">
          <p class="card-text">Eng : Mohamed Zaghlol</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 p-2">
      <div class="card">
        <img src=" ../../assets/Kareem.jpg" class="card-img-top " alt="...">
        <div class="card-body">
          <p class="card-text">Eng: Kareem Elsaeed</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 p-2">
      <div class="card">
        <img src=" ../../assets/amin.jpg" class="card-img-top " alt="...">
        <div class="card-body">
          <p class="card-text">Eng : Amin Ahmed</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 p-2">
      <div class="card">
        <img src=" ../../assets/samy.jpg" class="card-img-top " alt="...">
        <div class="card-body">
          <p class="card-text">Eng : Mohamed Sami</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 p-2">
      <div class="card">
        <img src=" ../../assets/aya.jpg" class="card-img-top " alt="...">
        <div class="card-body">
          <p class="card-text">Eng : Aya Ahmed</p>
        </div>
      </div>
    </div>

  </div>



</div>
